{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2 class="text-center text-2xl font-bold mb-4">Willkommen im Dashboard von unserem eigenen Panel</h2>
  <p class="text-center"> Hier wirst du die Möglichkeit bekommen, eigene Gameserver zu installieren(Aber nur für freigegebene Mitglieder)</p>
  <p class="text-center"> Sowie verschiedene andere Funktionen...</p>
  <p class="text-center"> Dieses Panel dient auch hauptsächlich euch den besten Support zu leisten den wir anbieten können</p>
  <p class="text-center">Die Zugriffe auf Funktionen, werden Stück für Stück noch bearbeitet und eingefügt!</p>
</div>
{% endblock %}
